{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 divHomeAdmin">
            <h1 class="text-white">Administration</h1>
        </div>
    </div>
{% endblock %}
