<section>
    <div class="container-fluid">
   <h1>Les différents types de régimes:</h1>
    </div>
  <div class="col-md-6">
  <img src="../IMAGES/concept.jpg" class="img-fluid" />
  </div>
<p>Il existe une multitude de régimes pour perdre ses kilos en trop.</p>
<h2>Le régime hyperprotéiné</h2>

<p>
Le régime hyperprotéiné est un régime qui repose, comme son nom l’indique, sur une augmentation des apports en protéines, afin de brûler les graisses et maintenir le métabolisme. Apprenez à adoptez la bonne conduite pour rendre cette méthode d’amincissement la plus efficace possible.</p>


<p>Les régimes sportifs
Les sportifs qui veulent performer se doivent de suivre un plan alimentaire qui leur est spécifique selon les objectifs visés : prendre de la force, augmenter son endurance, perdre du poids ou prendre de la masse musculaire.</p>

<p>Le régime Paléo
Tendance dans les sports fonctionnels tels que le CrossFit, ce régime repose sur des apports alimentaires issus de viande, de noix, de graines et de légumes. Les féculents, les sucres et les produits laitiers, ainsi que la nourriture industrielle sont à proscrire. Cet article fait le point sur ce régime bien particulier, et sa mise en application dans les sports tels que la musculation.</p>

<p>Le régime cétogène
Ce régime repose sur des apports élevés en graisses et en protéines, au détriment des glucides. Le but est de forcer l’organisme à reposer sur la production de corps cétoniques pour se fournir en énergie. Cet article délivre toutes les informations nécessaires pour rendre ce régime efficace.</p>

<p>Le régime sans gluten
Le gluten est un allergène qui abîme les parois intestinales, au point de provoquer nombre de réactions allergiques qui nuisent à la qualité de vie. Cet article développe sur les causes de ces intolérances, et sur les outils pour bien s’alimenter lorsque l’on souffre d’allergie au gluten.</p>

<p>Le régime 5.2
Ce régime, basé sur le principe du jeûne intermittent et aussi connu sous le nom de « The Fast Diet », repose sur une alternance de journées « normales » et de journées très pauvres en calories. Pensé pour faciliter la perte de poids.</p>

<div class="col-md-6">
<img src="../IMAGES/concept3.jpg" class="img-fluid" />
</div>

<p>Le régime Sirt Food
Il aurait permis à Pippa Middleton d’entrer dans sa robe de mariée et il aurait fait perdre plus de 30kg à la chanteuse Adèle. The Sirtfood Diet, pour la nommer, repose sur la consommation d’aliments qui élèveraient nos taux de sirtuines.</p>

<p>Le régime hypocalorique
Pour maigrir efficacement, il faut que votre bilan de consommation calorique journalier soit inférieur à vos besoins réels. Sans cela, votre corps ne peut pas brûler vos stocks de graisses et la perte de poids ne se produit pas. De combien de calories avez-vous besoin chaque jour?</p>

<p>Le régime inversé
Ce régime est efficace pour perdre du poids car il permet de réduire la faim et qu’il est plus tenable sur la durée qu'un régime hypocalorique classique. Egalement conseillé pour rééquilibrer une alimentation défaillante, quels sont les grands principes du régime inversé ?</p>

<p>Le régime Dukan
 La méthode Dukan a été pensée dans les années 70 et popularisée en 2000. Elle est basée sur une  alimentation hyperprotéiné, très restrictive, à suivre en plusieurs phases. Elle promet une perte de poids spectaculaire en seulement quelques jours.</p>

 <p>Le régime Atkins
Présentation de ce régime faible en glucides et à tendance cétogène, afin de tirer les meilleurs bénéfices de l’une des méthodes les plus fiables pour perdre du poids et le stabiliser.</p>

<p>Le régime monodiète
Présentation de ce régime très restrictif qui consiste à ne consommer qu'un seul aliment pendant une période donnée. Est-il dangereux et comment le mettre en application sereinement ?</p>

<p>Le régime Méditerranéen
Le régime méditerranéen, ou crétois, est considéré comme l’un des régimes les plus sains au monde. Il est aussi très populaire car il est facile à appliquer et particulièrement appétissant.</p>

<p>Les régimes rapides
De nombreuses personnes désirent perdre du poids rapidement avant l’été, ou un évènement comme un mariage. Comment négocier un régime rapide pour en obtenir la meilleure efficacité ?</p>

<p>Le régime sans sucre
Le sucre est l'une des drogues les plus puissantes, responsable de l'obésité et cause de mortalité. Le supprimer (ou limiter) de son alimentation est essentiel pour se maintenir en bonne santé.</p>

<p>Le régime oeufs
De nombreuses personnes décident de suivre ce régime car il est simple à appliquer et qu’il promet une perte de poids importante et très rapide.</p>


<p>Le régime DASH
Le principe du régime DASH s’appuie sur la taille des portions ainsi que la variété des aliments et des nutriments, dans le but de réduire l’hypertension</p>

<div class="col-md-6">
<img src="../IMAGES/concept2.jpg" class="img-fluid" />
</div>
<p>Le régime flexitarien
« Flexitarien » est le résultat de la combinaison de « flexible » et « végétarien » : ce régime suggère donc que vous pouvez récolter les bienfaits d’un régime végétarien tout en profitant de la viande de temps à autres.</p>

<p>Le régime Natman
Le régime « Natman » est une méthode de perte de poids express qui ne dure que quatre jours. Pendant ces quelques jours, ce programme alimentaire strict ne permet que la consommation de protéines maigres, de légumes verts et de fruits.</p>


</section>