{% extends 'base.html.twig' %}

{% block title %}New DailyMenu{% endblock %}

{% block body %}
 <div class= "container pt-5">
    <div class="row">
    {% include "shared/_messages_flash.html.twig" %}
    <h1>Créer un nouveau DailyMenu</h1>

    {{ include('daily_menu/_form.html.twig') }}

    <a href="{{ path('daily_menu_index') }}">back to list</a>
{% endblock %}
