<section>
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <div class="container-fluid">
    <h2>Comment interpréter son IMC?</h2>
     <div class="col-12 my-4">
        <img src="../IMAGES/IMC2.jpg" class="img-fluid" />
    </div>

  <div class="col-md-6 mt-4">
  <p>En dessous de 18,5, la personne est maigre. Mais pas maigre comme on le dirait d’un mannequin dont on trouve qu’elle manque de forme, non. On parle d’une maigreur au sens médical du terme. La personne est dans une extrême, qu’il faut voir à traiter médicalement. On lui conseillera de prendre ce que l’on appelle dans ce cas du “bon poids”, le genre qui n’impacte pas la santé. A tout le moins, elle doit en prendre conscience si ce n’est pas déjà le cas. Ce cas relève d’un suivi par un spécialiste.

Entre 18,5 et 25, il n’y a pas d’inquiétude à avoir, votre poids est considéré dans la moyenne. Cela signifie qu’en fonction de la taille, de l’âge et du sexe, le poids est idéal, il n’y a rien à changer – et si des changements sont désirés, ils sont certainement d’ordre esthétique…

En revanche, au-delà de 25, c’est l’échelle du surpoids qui commence, avec des gradations.

A partir de 30, l’on sait que le poids peut avoir des risques pour la santé, entraînant notamment des maladies cardio-vasculaires et des accidents, souvent mortels. Il faut donc réagir. Le médecin qui a calculé votre IMC vous conseillera si vous souhaitez perdre du poids.</p>
</div>
</div>
<div class="col-md-6">
<img src="../IMAGES/IMC11.jpg" class="img-fluid" alt="illustration" title="Illustration de l'IMC"/>
<figcaption>Illustration de l'IMC.</figcaption>
</div>

</section>