{% extends 'base.html.twig' %}

{% block title %}Edit Fitness{% endblock %}

{% block body %}
    <h1>Edit Fitness</h1>

    {{ include('fitness/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fitness_index') }}">back to list</a>

    {{ include('fitness/_delete_form.html.twig') }}
{% endblock %}
