{% extends 'base_admin.html.twig' %}

{% block title %}New Fitness{% endblock %}

{% block body %}
    <h1>Créer une nouvelle vidéo fitness</h1>

    {{ include('admin/fitness/_form.html.twig') }}

    <a href="{{ path('fitness_index') }}">Revenir à la liste</a>
{% endblock %}
