{% extends "base.html.twig" %}

{% block title %} Page non trouvée

{% endblock %}

{% block body %}

<h1> Page non trouvée</h1>



<p> La page que vous cherchez n'a pas été trouvée.</p>

<p> l'erreur : {{ status_code }}</p>

<p> Message de l'erreur :{{ status_text }}</p>

 <p>  Cliquez Ici pour vous <a href="{{ path('app_register') }}"> S'inscrire</a></p>

{% endblock %}
